@using MovieRatings.Common
@model MovieRatings.Web.ViewModels.Home.IndexViewModel  
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>We have @Model.MoviesCount movies from @Model.GenresCount genres!</p>
</div>
